<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품수정</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html :: navbar}"></div>

<form action="/add" method="POST"> <!-- action="/URL" mothod="요청" -->
    <input type="hidden" name="id" th:value="${item.id}">
    <input name="title" th:value="${item.title}">
    <input name="price" th:value="${item.price}">
    <button type="submit">버튼</button> <!-- type="button" 은 ajax 사용할때 -->
</form>

</body>
</html>