<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품목록</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body>

<div th:replace="~{nav.html :: navbar}"></div>
<!--
th:replace="~{파일경로 :: fragment이름}" 으로 재사용
th:replace="nav.html :: navbar('데이터1', '데이터2')" 으로 데이터 전송 가능
-->

<div class="card" th:each="i : ${items}">
    <img src="https://placehold.co/300">
    <div>
        <a th:href="@{'/detail/' + ${i.id} }">
            <h4 th:text="${i.title}"></h4> <!-- i.title 하면 thymleaf 가 알아서 i.getTitle() 실행 -->
        </a>
        <h4 th:text="${i.price} + 원"></h4>
        <a th:href="@{'/edit/' + ${i.id} }">✏️</a>
        <span th:onclick="fetch('/delete?id=[[${i.id}]]', { method : 'DELETE' })
    .then(r => r.text())
    .then(message => {
        alert(message);
        window.location.reload();
    })
    .catch(error => alert('삭제 중 오류가 발생했습니다.'))">🗑️</span>
        <!-- JS 안에 타임리프 변수를 넣으려면 [[${ 변수 }]] 이런 식으로 넣어야 함
         근데 <span onclick="fetch('/item?id=[[${i.id}]]', { method : 'DELETE' } )"> 이렇게 하면 삭제만 되고
         새로고침이 안된다. 서버 측에서 리다이렉트는 AJAX 인 경우 사용할 수 없다. 즉 fetch() 안에서 리다이렉트 설정을 해줘야 함.
         -->
        <!-- alert() 함수는 서버에서 보내준 메세지를 알려줌 (창을 띄어서) -->
    </div>
</div>

<div class="pagination-container" style="text-align: center; margin-top: 50px;">
    <a th:each="pageNumber : ${#numbers.sequence(1, pages.totalPages)}"
       th:href="@{'/list/page/' + ${pageNumber}}"
       th:text="${pageNumber}"
       th:class="${pageNumber - 1 == pages.number} ? 'active-page' : ''"
       style="margin: 0 5px; padding: 5px 10px; text-decoration: none; border: 1px solid #ccc; border-radius: 3px;">
    </a>
</div>

<!--
위의 반복문으로 대체 가능
<div class="card">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="${items.get(1).title}"></h4>
        <h4 th:text="${items.get(1).price} + 원"></h4>
    </div>
</div>
-->

</body>
</html>