<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="nav" th:fragment="navbar"> <!-- th:fragment="작명" 으로 다른 html 에서 재사용 가능 -->
    <a class="logo">SpringMall</a>
    <a th:href="@{'/list'}">List</a>
    <a th:href="@{'/write'}">Write</a>
    <div sec:authorize="isAuthenticated()"> <!-- 로그인이 된 경우에만 보임 -->
        <span sec:authentication="principal.displayName"></span>
        <span sec:authentication="principal.authorities"></span>
        <a href="/logout">로그아웃</a>
    </div>
</div>

</body>
</html>